<li class="nav-item {% if page.page_url == include.item.url %}active{% endif %} {% if include.item.children %}has-children{% endif %}">
  <a href="{{ include.item.url | relative_url }}">
    <span class="nav-icon">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.75 2.5C1.75 2.08579 2.08579 1.75 2.5 1.75H6.43934C6.72064 1.75 6.98451 1.88541 7.15901 2.11971L8.25 3.5H13.5C13.9142 3.5 14.25 3.83579 14.25 4.25V13.5C14.25 13.9142 13.9142 14.25 13.5 14.25H2.5C2.08579 14.25 1.75 13.9142 1.75 13.5V2.5Z" fill="#0969da" stroke="#0969da" stroke-width="0.5"/>
      </svg>
    </span>
    {% if include.item.children %}
      <span class="nav-chevron">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6 4L10 8L6 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    {% endif %}
    <span class="nav-text">{{ include.item.title }}</span>
  </a>
  {% if include.item.children %}
    <ul class="nav-children">
      {% for child in include.item.children %}
        {% include nav_item.html item=child %}
      {% endfor %}
    </ul>
  {% endif %}
</li>

