{% if site.data.nav %}
  <ul class="nav-tree">
    {% if site.data.nav.root %}
      <li class="nav-item {% if page.page_url == site.data.nav.root.url %}active{% endif %}">
        <a href="{{ site.data.nav.root.url | relative_url }}">{{ site.data.nav.root.title }}</a>
        {% if site.data.nav.children.size > 0 %}
          <ul class="nav-children">
            {% for child in site.data.nav.children %}
              {% include nav_item.html item=child %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  </ul>
{% endif %}

