{% if site.data.nav %}
  <ul class="nav-tree">
    {% if site.data.nav.root %}
      <li class="nav-item {% if page.page_url == site.data.nav.root.url %}active{% endif %}">
        <a href="{{ site.data.nav.root.url | relative_url }}">
          <span class="nav-icon">
            {% octicon file-directory-open-fill height:16 %}
          </span>
          <span class="nav-text">{{ site.data.nav.root.title }}</span>
        </a>
      </li>
    {% endif %}
    {% if site.data.nav.children %}
      {% for child in site.data.nav.children %}
        {% include nav_item.html item=child %}
      {% endfor %}
    {% endif %}
  </ul>
{% endif %}

